@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
@import "tailwindcss";

@tailwind utilities;

@theme {
    --font-pixel: 'Press Start 2P', monospace;
    --font-pixel2: 'Jersey 25', monospace;
    --font-serif: 'Averia Serif Libre', serif;
    --font-mono: 'Roboto Mono', monospace;
}

body {
    cursor: url('/assets/cursors/default.png'), auto;
}

a, button, [role="button"], .cursor-pointer {
    cursor: url('/assets/cursors/hand.png'), pointer;
}
